# Python cache and compiled files
__pycache__/
*.pyc

# Virtual environment directory
venv/

# Application-specific directories and files
invoices_db/
logs/
.env

# Sample data files
*.docx


# Other IDE files
.vscode/